# Signing keys
*.keystore
*.jks

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Environment variables
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test & coverage
coverage

# Capacitor native build artifacts
android/app/build
ios/App/Pods
ios/DerivedData
*.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata

# OS files
Thumbs.db
